.App {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.mobile {
    display: none;
}

@media(max-width: 768px) {
    .App {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 375px) {
    .App {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}